

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar{
    height: 250vh;
}
.blogContainer{

    margin: 30px 0 0 60px;

}
.blogItem ul li{
    color: rgb(101, 101, 148);
    margin: 0px 0px 10px 20px;
   
}
.heading{
    color:rgb(47, 47, 126);
    font-size: 30px;
    font-weight: bold;
}

.para{
    color: rgb(101, 101, 148);
    margin: 20px 0px;
    line-height: 25px;
    
}

